.icono img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.icono h1 {
    text-align: center;
}

.slider-home {
    margin-top: 0px;
}

.fondo-main {
    background-image: url("../img/Fondos/fondo_registro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fondo-reg {
    background-image: url("../img/Fondos/fondo_registro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.user img {
    margin-top: -120px;
    margin-bottom: 50px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.formulario {
    background: rgba(0, 0, 0, .1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .568);
    color: white;
}

.form-group input {
    background: rgba(0, 0, 0, .4);
    border-color: rgba(0, 0, 0, .4);
}