.icono img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.icono h1 {
    text-align: center;
}

.slider-home {
    margin-top: 0px;
}

.fondo-main {
    background-image: url("../img/Fondos/Fondo_principal_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fondo-reg {
    background-image: url("../img/Fondos/fondo_registro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fondo-store {
    background-image: url("../img/Fondos/fondo_store.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.menu {
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    right: 0;
}

.cuerpo {
    padding-top: 100px;
}

.store {
    padding-top: 100px;
}

.store:before {
    content: '';
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(34, 40, 40, 1.1), rgba(255, 255, 255, .1));
    background-attachment: fixed;
}

.navg a {
    color: #f4f4f4!important;
    font-size: 20px;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
}

.text-header {
    min-height: 100vh;
    color: white;
}

.text-header span {
    letter-spacing: 5px;
    font-size: 1.2em;
    margin: 0 0 0 5px;
}

.text-header p {
    font-size: 1em;
}

.btn-yo {
    padding: 7px 12px;
    color: white;
    background-color: #c10000c0;
}

.btn-yo:hover {
    color: white;
    background-color: #c10000;
}

.user img {
    margin-top: -120px;
    margin-bottom: 50px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.formulario {
    background: rgba(0, 0, 0, .1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .568);
    color: white;
}

.form-group input {
    background: rgba(0, 0, 0, .4);
    border-color: rgba(0, 0, 0, .4);
}